* {
  box-sizing: border-box;
}

html, body {
  background: #eee;
  color: rebeccapurple;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  border: 0.4em solid;
  border-top: 0;
  margin: 0 auto;
  max-width: 40em;
  width: 100%;
}

main {
  color: #111;
}

.sweep {
  display: flex;

  & button {
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    padding: 0.5em;
    text-transform: uppercase;
  }
}

button.action {
  background: rebeccapurple;
  border: none;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 0.1em white;
  transition: box-shadow 150ms, text-shadow 300ms;

  &:active {
    box-shadow: 0 0 0.4em 0 rgba(0, 0, 0, 0.75) inset;
  }

  &:hover {
    text-shadow: 0 0 0 white;
  }
}
