* {
  box-sizing: border-box;
}

html, body {
  background: #eee;
  color: rebeccapurple;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  border: 0.4em solid;
  border-top: 0;
  margin: 0 auto;
  max-width: 40em;
  width: 100%;
}

main {
  color: #111;
}
