section.before .day {
  align-items: center;
  border-top: 0.4em solid rebeccapurple;
  display: flex;
  padding: 1em;

  & h1 {
    font-weight: normal;
    margin: 0;
    margin-right: 1em;
  }

  & .time-block {
    color: transparent;
    overflow: hidden;
    position: relative;
    transition-property: color, width;
    transition-duration: 300ms;
    width: 0.4rem;

    &:hover {
      color: white;
      width: 3rem;
    }

    & time {
      padding-right: 0.4em;

      &::after {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        content: '';
        max-width: 0.4em;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
      }
    }
  }
}
