nav {
  border-bottom: 0.2em solid;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  height: calc(2em * 1.2 + 0.2em);
  line-height: 1.2;
  width: 100%;

  & .logo {
    height: 100%;
    margin: 0 0.2em;
  }

  & h1 {
    /* Auto-resizing text (with a background-size:contain SVG) with the actual
     text hidden and cursor:default'ed away but still there for readers/a11y. */
    background-image: url('/assets/header.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    cursor: default;
    flex-grow: 1;
    font-size: 1.3px;
    margin: 0;
  }

  & button.action {
    border-left: 0.4rem solid rebeccapurple;
    font-size: 1.5em;
    padding: 0;
    width: 1.7em;
  }
}
