nav {
  border-bottom: 0.2em solid;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  height: calc(2em * 1.2 + 0.2em);
  line-height: 1.2;
  width: 100%;

  & .logo {
    height: 100%;
    margin: 0 0.2em;
  }

  & h1 {
    flex-grow: 1;
    font-size: 1.3em;
    font-weight: 900;
    line-height: 0.9;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
  }

  & button.action {
    border-left: 0.4rem solid rebeccapurple;
    font-size: 3rem;
    padding: 0;
    width: 1.7em;
  }
}
